// CUSTOM COLORS
$primary: #264653;
$secondary: #2EBE92;
$success: #2A9D8F;
$info: #E9C46A;
$warning: #F4A261;
$danger: #E76F51;
$dark: #13232A;
$white: #FDF8ED;
$black: #0A1215;



// Bootstrap default scss
@import '~bootstrap/scss/bootstrap.scss';